<%- include('includes/head.ejs') %>
    <h1>Page Not Found</h1>
    <ul>
        <li><a href="/">Add Artists</a></li>
        <li><a href="/artists">Show Artists</a></li>
    </ul>
    <%- include('includes/end.ejs') %>
