<%- include('includes/head.ejs') %>
    <% if (artists.length > 0) { %>
        <main>
            <ul>
                <% for (let artist of artists) { %>
                    <li>
                        <%= artist.name %>
                    </li>
                <% } %>
            </ul>
        </main>
    <% } else { %>
        <h1>The are no artists</h1>
    <% } %>
    <ul>
        <li><a href="/">Add Artists</a></li>
        <li><a href="/artists">Show Artists</a></li>
    </ul>
</body>
</html>