<%- include('includes/head.ejs') %>
    <main>
        <form action="/" method="POST">
            <input type="text" name="artists" id="artists">
            <button type="submit">
                Add Artists
            </button>
        </form>
    </main>
    <ul>
        <li><a href="/">Add Artists</a></li>
        <li><a href="/artists">Show Artists</a></li>
    </ul>
</body>
</html>